/* -- Comment venir -- */

#mapsContainer {
	margin: auto;
	width: 80%;
}

#switchMaps {
	float: right;
	z-index: 10;
}

#mapsImage {
	margin: auto;
	text-align: center;
}

/* -- Logement -- */

.hotel {
	float: left;
	width: 49%;
}

.hotel .ditance,
.hotel .adresse,
.hotel .contact,
.hotel .prix {
	display: block;
}