@CHARSET "utf8";

/* -- General elements -- */

body {
	margin-bottom: 20px;
}

.cleaner {
	clear: both;
}

label.checkbox {
	display: inline;
}

input[type="submit"].btn {
	margin-top: 10px;
}

/* -- Specialized elements -- */

.container {
	margin-top: 10px;
}

/* -- Redefined styles -- */

.container .nav {
	margin-bottom: 0px;
}

.container .tab-content {
	padding: 18px 10px 15px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

/* -- Stats -- */

/* -- Admin -- */

#pagesList {
	margin-bottom: 10px;
	margin-top: 10px;
}

#goSubmitBtn {
	margin-left: 10px;
	padding: 5px 10px;
}

#accessSubmitBtn {
	margin-left: 10px;
}

.hideIfNoJS {
	display: none;
}

/* -- JS objects -- */

.loupe, .searchForm .reset {
	margin-left: 5px;
}

.selectorForm {
	background: white;
	border: solid 2px black;
	margin-top: 10px;
	padding: 5px 10px;
	position: absolute;
	width: 250px;
}

.selectorForm .selections {
	list-style: none;
	margin-top: 10px;
}